body{
    font-family: 'PT Sans Narrow', cursive;
    color: blue;
    text-shadow: 0 0 20px white, 0 0 20px black;
        border: 10px solid transparent;
        padding: 15px;
        border-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3xbacdxBZoRpspmAg-fQFs_OnSNdPx92E3RRfnNQI93g4AmC4Yg) 30 ;

}
ul {
    text-align: center;
    list-style-position: inside;
}
ol {
    list-style-position: inside;
    text-align: center;
    text-decoration: underline;

}
h1 { 
      font-family: 'Oswald', cursive;
}

a {
    color: cyan;
}

li { 
    text-align: center;    font-family: 'Inconsolata', monospace;
}

html { 
  background: url(https://www.kidsweek.nl/sites/default/files/pexels-photo-631477.jpeg) no-repeat center center fixed; 
  background-size: cover;
}

.tablink {
    background-color: #555;
    color: Black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}


.tablink:hover {
    background-color: Gray;
}


.tabcontent {
    color: White;
    display: none;
    padding: 50px;
    text-align: center;
}